<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.edu.pwr.wiz.wzorlaboratorium8">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".WifiBroadcastReceiver"  android:exported="true">
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".BatteryBroadcastReceiver"  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_LOW" />
            </intent-filter>
        </receiver>

        <receiver android:name=".NotificationBroadcastReceiver"  android:exported="true">
            <intent-filter>
                <action android:name="pl.edu.pwr.wiz.wzorlaboratorium8.NOTIFICATION" />
            </intent-filter>
        </receiver>

        <!-- TODO dodać conajmniej dodatkowe BroadcastReceiver'y -->
        <receiver android:name=".PowerConnectionBroadcastReceiver"  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <service android:name=".TimerService" android:exported="false" />

        <!-- TODO dodać nową usługę -->
        <service android:name=".BatteryTimerService" android:exported="false" />

    </application>
</manifest>